html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  color: #222;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4; }

header {
  height: 80px; }

a {
  color: #0192B5;
  font-size: 14px; }

h5 {
  color: #555555;
  font-size: 13px; }

.content a:hover {
  text-decoration: underline; }

.topnav {
  height: 80px;
  width: 960px;
  margin: 0 auto; }

.topnav ul {
  float: right;
  margin: 0;
  list-style: none;
  list-style-position: outside;
  padding-left: 18px;
  width: 222px; }

.topnav li {
  position: relative;
  list-style: none;
  border: 0 none;
  padding: 0; }

.topnav form {
  display: table-cell;
  vertical-align: top;
  width: 100%; }

.topnav input {
  line-height: normal;
  height: 34px;
  width: 250px; }

.topnav button {
  font-weight: bold;
  border-radius: 3px;
  height: 35px;
  font-family: Arial,Helvetica,sans-serif;
  padding: 8px 18px 8px;
  margin-left: -5px;
  display: table-cell;
  background-color: #34A8D0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #FFF; }

.img1 {
  width: 85px;
  float: left;
  margin-right: 20px;
  margin-top: 15px; }

.searchbar {
  position: relative;
  float: left;
  width: 35%;
  height: 80px;
  padding-top: 20px; }

.browse {
  display: block;
  float: left;
  padding-left: 20px;
  width: auto;
  height: 34px;
  margin-top: 21px; }

.browse a {
  border: 1px solid #E5E5E5;
  padding: 8px;
  border-radius: 3px;
  color: #666;
  display: block;
  text-decoration: none;
  padding-right: 20px; }

.register {
  float: left;
  position: relative;
  list-style: none;
  margin-top: 22px; }

.register a {
  display: block;
  float: left;
  padding: 8px;
  line-height: 16px;
  margin-right: 7px;
  border: 1px solid transparent;
  text-decoration: none;
  background: transparent; }

.signin {
  float: left;
  position: relative;
  list-style: none;
  border: 0 none;
  margin: 0;
  padding: 0; }

.signin a {
  height: auto;
  margin-top: 23px;
  display: block;
  float: left;
  padding: 8px;
  line-height: 16px;
  border: 1px solid;
  text-decoration: none;
  border-radius: 3px; }

.cart {
  float: right;
  width: 10%;
  margin-left: 20px; }

.cart span {
  display: block;
  border-left: 1px solid #EEEEEE;
  margin-left: -22px;
  text-align: center;
  padding-left: 19px; }

.cart img {
  text-align: center;
  width: 25px;
  float: right; }

.cart a {
  text-decoration: none;
  color: #949494;
  padding-right: 20px;
  font-size: 13px; }

.content {
  background-color: #F5F5F1;
  height: 4000px; }

.main {
  width: 980px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.main::after {
  clear: both;
  content: "";
  display: table; }

.left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  width: 25.76157%; }

.left:last-child {
  margin-right: 0; }

.right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.right:last-child {
  margin-right: 0; }

.panel-top {
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF; }

.panel-top a {
  text-decoration: none;
  padding-left: 10px; }

.panel-top ul {
  list-style: none;
  margin-bottom: 24px;
  padding: 12px; }

.panel-top li {
  padding-bottom: 6px; }

.list-title {
  margin-left: -10px; }

.list-title a {
  color: #555555;
  text-decoration: none;
  font-weight: bolder;
  padding-left: -6px; }

.refine {
  margin-bottom: 7px;
  margin-top: 22px; }

.panel-bottom {
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF; }

.itemtype {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E3DF; }

.itemtype h5 {
  margin-bottom: 7px;
  margin-top: 13px; }

.itemtype label {
  display: block;
  margin-bottom: 6px; }

.itemtype a {
  text-decoration: none;
  margin-left: 5px; }

.type a {
  color: #555555;
  font-weight: bolder; }

.price {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E3DF; }

.price h5 {
  margin-bottom: 0; }

.price input {
  width: 100%;
  padding-left: 20px;
  height: 38px;
  font-size: 14px;
  border-radius: 3px;
  height: 38px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.price button {
  border-radius: 3px;
  height: 38px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 34px;
  position: absolute;
  margin-left: 6px;
  padding: 0; }

.lowprices {
  display: inline-block;
  width: 35%;
  position: relative; }

.lowprices span {
  position: absolute;
  top: 25%;
  left: 3px;
  font-size: 13px; }

.highprices {
  display: inline-block;
  width: 35%;
  position: relative;
  margin-left: 15px; }

.highprices span {
  position: absolute;
  top: 25%;
  left: 3px;
  font-size: 13px; }

.to {
  position: absolute;
  left: 82px;
  top: 27px;
  font-size: 13px; }

.color-filter {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #E1E3DF; }

.color-filter h5 {
  margin-bottom: 0; }

.color-filter ul {
  list-style: none;
  padding-left: 0;
  margin-top: 8px; }

.color-filter li {
  display: inline-block; }

.swatch {
  display: inline-block;
  margin-right: 0;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  height: 22px;
  width: 22px;
  padding: 1px;
  overflow: hidden; }

.ordering-options {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #E1E3DF; }

.ordering-options h5 {
  margin-bottom: 5px; }

.ordering-options label {
  display: block;
  margin-bottom: 5px; }

.ordering-options a {
  text-decoration: none; }

.shop {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #E1E3DF; }

.shop h5 {
  margin-bottom: 5px; }

.shop label {
  display: block;
  margin-bottom: 5px; }

.shop a {
  text-decoration: none; }

.dropdown {
  display: block;
  float: left;
  padding-left: 7px;
  width: 207px;
  height: 34px;
  border-radius: 3px;
  height: 38px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.dropdown a {
  padding: 8px;
  border-radius: 3px;
  color: #666;
  display: block;
  text-decoration: none; }

.ship {
  margin-left: 10px;
  height: 100px; }

.ship h5 {
  margin-bottom: 5px; }
