@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@mixin buttonStyle(){
  border-radius: 3px;
  height: 38px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
@mixin bottomBorder(){
  border-bottom: 1px solid #E1E3DF;
}
@mixin hoverPics($x){
  position: absolute;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: 10px;
  right: $x;
  z-index: -1;
}

body{
  color: #222;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
header{
  height: 80px;
}
a{
   color: #0192B5;
  font-size: 14px;

}
h5{
  color: #555555;
  font-size: 13px;
}
.content a:hover{
  text-decoration: underline;
}
.topnav{
  height: 80px;
  width: 960px;
  margin: 0 auto;
  ul{
    float: right;
    margin: 0;
    list-style: none;
    list-style-position: outside;
    padding-left: 18px;
    width: 222px;
  }
  li{
    position: relative;
    list-style: none;
    border: 0 none;
    padding: 0;
  }
  form{
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
  input{
    line-height: normal;
    height: 34px;
    width: 250px;
    font-size: 14px;
    padding-left: 5px;

  }
  button{
    font-weight: bold;
    border-radius: 3px;
    height: 35px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 8px 18px 8px;
    margin-left: -5px;
    display: table-cell;
    background-color: #34A8D0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFF;
  }

}
.img1{
    width: 85px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;

}
.searchbar{
  position: relative;
  float: left;
  width: 35%;
  height: 80px;
  padding-top: 20px;
}
.searchbar button:hover{
  background-color: #39B4D8;
}
.inner{
}
.browse{
  display: block;
  float: left;
  padding-left: 20px;
  width: auto;
  height: 34px;
  margin-top: 21px;
  a{
    border: 1px solid #E5E5E5;
    padding: 8px;
    border-radius: 3px;
    color: #666;
    display: block;
    text-decoration: none;
    padding-right: 20px;
  }
}
.browse:hover a{
  border-color:#565656;
}
.searchbar input:hover{
  box-shadow: inset 0px 0px 0px #565656;
}
.register{
  float: left;
  position: relative;
  list-style: none;
  margin-top: 22px;
  a{
    display: block;
    float: left;
    padding: 8px;
    line-height: 16px;
    margin-right: 7px;
    border: 1px solid transparent;
    text-decoration: none;
    background: transparent;
  }
}
.register:hover a{
  text-decoration: underline;
}
.signin{
  float: left;
  position: relative;
  list-style: none;
  border: 0 none;
  margin: 0;
  padding: 0;
  a{
    height: auto;
    margin-top: 23px;
    display: block;
    float: left;
    padding: 8px;
    line-height: 16px;
    border: 1px solid;
    text-decoration: none;
    border-radius: 3px;
  }
}
.signin:hover a{
  background-color: lightblue;
}
.cart{
  float: right;
  width: 10%;
  margin-left: 20px;

  span{
    display: block;
    border-left: 1px solid #EEEEEE;
    margin-left: -22px;
    text-align: center;
    padding-left: 19px;
  }
  img{
    text-align: center;
    width: 25px;
    float: right;
  }
  a{
    text-decoration: none;
    color: #949494;
    padding-right: 20px;
    font-size: 13px;

  }
}
.content{
  background-color: #F5F5F1;

}
.main{
  width: 980px;
  @include outer-container;
}
.left{
  @include span-columns(3);
    width: 25%;
}
.right{
@include span-columns(9);
  width: 72.41059%;
  ul{
    margin-top: 60px;
    text-align: center;
    margin-left: -45px;
    width: 750px;
  }
  li{
  @include span-columns(3);
  @include omega(3n);
  width: 222px;
   font-size: 12px;
   margin-bottom: 20px;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  }
}
.main-ul{
  list-style: none;
  float: left;
  position: relative;

}
.itemImage{
  width: 100%;
  background-color:#FFFFFF;
}

.main-li{
  // margin-bottom: 6px;
  position: relative;
  a{
    text-decoration: none;
  }

}
.pic1{
  img{
    width: 17px;
    margin-right: 8px;
    margin-top: 3px;
  }
  width: 36px;
 @include hoverPics(5px);
}
.pic2{
 @include hoverPics(40px);
 width: 12%;
 margin-right: 5px;
 padding: 4px;
 padding-bottom: 0;
 img{
  width: 17px;
 }

}
.pic2:hover {
   box-shadow: 1px 1px 1px 1px #565656;
   border-color: black;
}
.pic1:hover {
   box-shadow: 1px 1px 1px 1px #565656;
   border-color: black;
}
.main-li:hover span{
  z-index: 100;
}
.row{
  color: #555;
  font-size: 12px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  a{
    font-size: 12px;
    color: #555;
  }
}
.item-seller{
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: inline-block;
  color: #b2b2b2;
  float: left;
  font-size: 12px;
  a{
    font-size: 12px;
  }


}
.item-price{
  display: inline-block;
  color: #86C459;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 0;


}
.panel-top{
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF;
  a{
    text-decoration: none;
      padding-left: 10px;
  }
  ul{
    list-style: none;
    margin-bottom: 24px;
    padding: 12px;
  }
  li{
    padding-bottom: 6px;
  }
}
.list-title{
  margin-left: -10px;
  a{
    color: #555555;
    text-decoration: none;
    font-weight: bolder;
    padding-left: -6px;
  }
}
.refine{
  margin-bottom: 7px;
  margin-top: 22px;
}
.panel-bottom{
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF;
}
.itemtype{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  @include bottomBorder;

  h5{
    margin-bottom: 7px;
    margin-top: 13px;
  }
  label{
    display: block;
    margin-bottom: 6px;
  }
  a{
    text-decoration: none;
    margin-left: 5px;
  }
}

.type{
  a{
    color: #555555;
    font-weight: bolder;
  }
}
.price{
  position: relative;
   margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  @include bottomBorder;
  h5{
    margin-bottom: 0;
  }
  input{
    width: 100%;
    padding-left: 20px;
    height: 38px;
    font-size: 14px;
    @include buttonStyle;
  }
  button{
  @include buttonStyle;
  width: 34px;
  position: absolute;
  margin-left: 6px;
  padding: 0
  }
}
.lowprices{
  display: inline-block;
  width: 35%;
  position: relative;
 span{
  position: absolute;
  top: 25%;
  left: 3px;
  font-size: 13px;
  }

}
.highprices{
  display: inline-block;
  width: 35%;
  position: relative;
  margin-left: 15px;
  span{
    position: absolute;
    top: 25%;
    left: 3px;
    font-size: 13px;
  }

}
.to{
  position: absolute;
  left: 82px;
  top: 27px;
  font-size: 13px;
}
.color-filter{
  margin-left: 10px;
  margin-right: 10px;
  h5{
    margin-bottom: 0;
  }
  ul{
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
  }
  li{
    display: inline-block;

  }
  @include bottomBorder;
}
.swatch{
    display: inline-block;
    margin-right: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;

}
.ordering-options{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 16px;
  margin-bottom: 10px;
  @include bottomBorder;
  h5{
    margin-bottom: 5px;
  }
  label{
  display: block;
  margin-bottom: 5px;
  }
  a{
    text-decoration: none;
  }
}
.shop{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 16px;
  margin-bottom: 10px;
  @include bottomBorder;
  h5{
    margin-bottom: 5px;
  }
  label{
    display: block;
    margin-bottom: 5px;
  }
  a{
    text-decoration: none;
  }

}
.dropdown{
  display: block;
  float: left;
  padding-left: 7px;
  width: 207px;
  height: 34px;
  @include buttonStyle;
  a{
    padding: 8px;
    border-radius: 3px;
    color: #666;
    display: block;
    text-decoration: none;
  }
}
.ship{
  margin-left: 10px;
  height: 100px;
  h5{
    margin-bottom: 5px;
  }
}
